#mainPopup {
  padding: 10px;
  height: 200px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
#title-header {
  font-size: 2em;
  float :right;
}

#form-activate{ 
  /* hidden by default, show it later */
  display: none;
}
